@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .red-hat-fon {
    background-image: url('../public/stories/RedHat/fonStories.jpg');
    background-position: center;
  }
  .text-normal {
    @apply text-base font-cloudWorld text-black;
  }
  .text-normal::first-letter {
    initial-letter: 2 1;
    @apply font-comial;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
