@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .red-hat-fon {
    background-image: url('../public/stories/RedHat/fonStories.jpg');
    background-position: center;
  }
  .text-normal {
    @apply text-base font-cloudWorld text-black;
  }
  .text-normal::first-letter {
    initial-letter: 2 1;
    @apply font-comial;
  }
}

body {
  color: white;
  background: black;
}
